$smallBreakpoint: 50em;
$sprites: url(../../assets/talent-icons-sprite.png);
$backgroundImg: url(./assets/talent-calc-bg.png);
$selectedY: 50px;
$unselectedY: 0;
$chevronsX: 0px;
$silverwareX: 350px;
$cakeX: 300px;
$crownX: 250px;
$boatX: 200px;
$snorkelX: 150px;
$lightningX: 100px;
$skullX: 50px;
$charcoal: #333333;
$lightCharcoal: #595959;